@font-face {
    font-family: 'Sharp Grotesk Book 20';
    src: url('../fonts/SharpGroteskBook20-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskBook20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Grotesk Medium 20';
    src: url('../fonts/SharpGroteskMedium20-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskMedium20-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Grotesk Medium 25';
    src: url('../fonts/SharpGroteskMedium25-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskMedium25-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Grotesk SmBold 20';
    src: url('../fonts/SharpGroteskSmBold20-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskSmBold20-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans.woff2') format('woff2'),
        url('../fonts/IBMPlexSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Light.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono.woff2') format('woff2'),
        url('../fonts/IBMPlexMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}