html {
	font-size: 62.5%;

	@include max-screen($xxlarge) {
		font-size: 72.5%;
	}

	@include max-screen($xlarge) {
		font-size: 62.5%;
	}

	@include max-screen($large) {
		font-size: 50.5%;
	}

	@include max-screen($medium) {
		font-size: 52.5%;
	}

	@include max-screen($small) {
		font-size: 42.5%;
	}

	@include max-screen($xsmall) {
		font-size: 32.5%;
	}
}

// Body Level
.home {

	/*******************/
	/*NAVIGATION STARTS*/
	header,
	main,
	.manifesto-wrapper,
	.info-wrapper,
	.big-data-wrapper,
	.rpa-wrapper,
	.setores-wrapper {
		// position: relative;
	}

	.header {
		// height: 100vh;
	}

	.header,
	.content,
	.manifesto,
	.info-tech,
	.big-data,
	.rpa,
	.setores {
		/* position: absolute;
		width: 100%;
		clip: rect(auto, auto, auto, auto);
		box-sizing: border-box; */
	}

	.logo-main {
		opacity: 0;
		width: 15rem;
		position: fixed;
		font-size: 0;
		cursor: pointer;
		left: 6.5vw;
		

		@include max-screen($medium) {
			width: 12rem;
			max-width: 14rem;
			left: -0.5rem;
			transform: rotate(-90deg);
		}

		@include max-screen($small) {
			left: -2rem;
		}

		@include max-screen($xsmall) {
			left: -3rem;
		}

		top: 10vh;
		z-index: 9999;
	}

	.logo-main.light {
		fill: $purple;
		opacity: 1;
	}
	.logo-main.nav-bg-purple {
		opacity: 1;
		fill: #fff;

	}


	.menu {
		visibility: hidden;
		@include max-screen($small) {
			display: none;
		}

		top: 0;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		left: 6vw;

		@include max-screen($medium) {
			left: 4vw;
		}

		.scroll-wrapper {
			position: relative;

			.scroll-bar {
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				z-index: 1;
			}

			.scroll-handler {
				position: absolute;
				top: 0;
				left: -4.5px;
				width: 10.5px;
				height: 30px;
				border-radius: 10px;
				z-index: 5;
			}
		}

		.items-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 300px;

			div:last-child {
				position: relative;
				top: -3px;
			}
		}

		.scroll-item {
			line-height: 0;
			cursor: pointer;

			.scroll-anchor {
				height: 10px;
				width: 10px;
				border-radius: 50%;
				display: inline-block;
				left: -4px;
				top: 0;
				position: relative;
				z-index: 1;
				border: 2px solid #9e7491;
			}
			

			.link-text {
				font-family: 'Sharp Grotesk Book 20';
				font-weight: 600;
				letter-spacing: 0.5px;
				left: 40px;
				position: relative;
				
			}
			&:last-child .scroll-anchor {
				top: 3px !important;
			}
		}
	}

	.menu.nav-full-top {
		visibility: visible;
		.scroll-wrapper {
			.scroll-bar {
				background-color: #9e7491;
			}
			.scroll-handler { 
				background-color: $white;
			}
		}
		.scroll-item {
			.scroll-anchor {
				background-color: $purple;
				border-color: #9e7491;
	
			}

			.link-text {
				font-size: 12.5px;
				color: $white;
				@include min-screen($xlarge) {
					font-size: 15px;
				}
			}
		}

		.scroll-item {
			.link-text {
				 
			}
			&:not(.active-intro) .link-text {
				color: #9e7491;
			}
			&.active-intro .link-text {
				color: $white;
			}
		}
	}

	.menu.light {
		visibility: visible;
		z-index: 9999;
		.scroll-wrapper {
			.scroll-bar {
				background-color: $purple;
				opacity: 1;
			}

			.scroll-handler {
				background-color: $purple;
			}

			.scroll-item {
				.scroll-anchor {
					border-color:$purple;
					background-color: white;

					&:hover {
						background-color: $purple;
					}
				}
				.link-text {
					background-color: $purple;
					color: $white;
					font-size: 12px;
					padding: 5px 10px;
					top: 10px;
					left: 30px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						border-style: solid;
						border-width: 0 15px 8px 0;
						display: block;
						width: 0;
						z-index: 1;
						left: -12px;
						top: 0px;
						border-color: transparent $purple;
						
					}
				}
			}
		}
	}

	.menu.nav-bg-white {
		.scroll-item .link-text {
			&::after {
				border-color: transparent $purple;
			}
		}
	}
  
	.menu.nav-bg-purple {
		.scroll-wrapper {

			.scroll-bar,
			.scroll-handler {
				background-color: $white;
			}

			.scroll-item {
				.scroll-anchor {
					border-color: $white;
					background-color: $purple;
					&:hover {
						background-color: $white;
					}
				}

				.link-text {
					background-color: $white;
					color: $purple;

					&::after {
						border-color: transparent $white;
					}
				}
			}

		}
	}

	.menu.nav-bg-tang {
		.scroll-wrapper {
			.scroll-item {
				.scroll-anchor {
					background: $tang;
				}
			}
		}
	}
	.menu.nav-bg-tang-lighter {
		.scroll-wrapper {
			.scroll-item {
				.scroll-anchor {
					background: #f5e8e4;
				}
			}
		}
	}



	/*******************/
	/*NAVIGATION ENDS HERE*/
}

// Page Level
.home-page {
	.page-header {
		.carousel-wrapper {
			display: flex;
			justify-content: flex-end;
		}

		&.header-purple {
			background-image: linear-gradient(to right, $purple, $purple 70%, white 30%);
			height: 100vh;
		}

		.carousel-content {
			overflow: hidden;
			position: relative;
			margin-left: auto;
			min-height: 75vh;
			min-width: 62.8vw;
			margin: 16vh 3.5vw 0;

			@include min-screen($xxlarge) {
				margin: 16vh 1vw 0;
			}

			.carousel--img {
				position: absolute;
				max-width: inherit;
				top: 0;
				left: 4.5rem;
				width: 110rem;
			}

			&.inspire {
				.logo-container {

					position: relative;
					left: 1.5rem;
					top: 21.6rem;
					max-width: 52rem;

					#tr_1_,
					#tr {
						// transform: translate(2rem);
					}
				}

				.carousel--slogan {
					font-family: 'Sharp Grotesk Medium 25';
					font-size: 5.5rem;
					top: 36.2rem;
					letter-spacing: -1px;
					position: relative;
					font-size: 5.5rem;
					top: 36.2rem;
					color: $white;

					@include max-screen($medium) {
						font-size: 4.5rem;
					}

					@include max-screen($small) {
						font-size: 5vw;
						margin-right: 5vw;
					}
				}
			}
		}
	}
}

.page-content {


	.service {
		padding: 18.8rem 0rem;

		@include max-screen($medium) {
			padding: 10rem 0rem;
		}

		.service--title {
			font-family: 'Sharp Grotesk Medium 25';
			font-size: 5.5rem;
			letter-spacing: -1px;
			padding-top: 18.4rem;
			padding-bottom: 4.2rem;

			@include max-screen($xxlarge) {
				max-width: 1220px;
			}

			@include max-screen($xlarge) {
				max-width: 920px;
			}

			line-height: 6.7rem;

			sup {
				font-size: 1.6rem;
				top: -3.5rem;
			}
		}

		.service--subtitle {
			font-family: 'Sharp Grotesk Medium 20';
			font-size: 3rem;

			@include max-screen($xsmall) {
				margin-top: 6rem;
			}
		}

		.service--box {
			max-height: 57.6rem;
			height: 50rem;
			min-height: 50rem;
			margin: 1rem 0;

			.box--title {
				font-family: 'Sharp Grotesk Medium 25';
				font-size: 5rem;
				color: $purple;
				letter-spacing: -2px;
				padding: 5.3rem 4.8rem;

				@include min-screen($maxlarge) {
					font-size: 4rem;
				}

				@include min-screen($xxlarge) {
					font-size: 5rem;
				}

				@include max-screen($medium) {
					font-size: 4rem;
				}
			}

			&.consultoria,
			&.nearshore {
				margin-top: 16.8rem;

				@include max-screen($xsmall) {
					margin-top: 6rem;
				}
			}

			&.consultoria:before,
			&.projectos:before {
				position: absolute;
				content: "";
				top: 0;
				left: -6.5rem;
				width: 48%;
				max-width: 25.8rem;
				height: 100%;
				// background-image: url('../imgs/service-gloves.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: bottom left;
			}

			&.nearshore {
				background-color: darken(#f08f65, 2%);
				position: relative;

				.box--title {
					position: absolute;
					bottom: 0;
					padding: 5.3rem 4.8rem;
				}
			}

			&.nearshore:before {
				position: absolute;
				content: "";
				top: -5rem;
				right: -7.5rem;
				max-width: 58.7rem;
				width: 95%;
				height: 100%;
				background-image: url('../imgs/service-shore.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: top right;
			}

			&.consultoria {
				background-color: darken(#ffce7c, 2%);
				position: relative;
			}

			&.projectos {
				background-color: darken(#ceb6fd, 2%);
				margin-top: 3.5rem;
				position: relative;
			}
		}

		.service--note {
			font-family: 'IBM Plex Mono';
			font-size: 1.2rem;
			max-width: 30.3rem;
			position: relative;
			padding-left: 6.5rem;
			margin: 8rem 0 0 8rem;
		}

		.service--note::before {
			position: absolute;
			content: "";
			width: 5.5rem;
			height: 100%;
			top: 0;
			left: 0;
			background-image: url('../imgs/service-hand-icon@2x.jpg');
			background-repeat: no-repeat;
			background-position: top left;
			background-size: contain;
		}
	}

	.manifesto {
		background-color: #371028;
		padding-top: 15rem;
		color: $white;

		.manifesto--title {
			font-family: 'Sharp Grotesk Medium 25';
			font-size: 10rem;
			color: $white;
			letter-spacing: -0.2rem;
			line-height: 9.5rem;
			padding: 5rem 0 7.5rem;

			@include max-screen($xsmall) {
				font-size: 10vw;
				line-height: 7rem;
				padding: 2rem 0 4.5rem;
			}

			sup {
				font-size: 2.5rem;
				top: -5.8rem;

				@include max-screen($xsmall) {
					font-size: 3vw;
					top: -3.5rem;
				}
			}

			span {
				color: $tang;
			}
		}

		.manifesto--details {
			top: 0;
			position: relative;
			display: flex;

			@include max-screen($xsmall) {
				flex-wrap: wrap;
			}

			padding-top: 7.5rem;
			padding-bottom: 7.5rem;

			.manifesto--text {
				font-family: 'Sharp Grotesk Medium 20';
				font-weight: normal;
				font-size: 4.5rem;
				min-width: 60rem;

				@include max-screen($medium) {
					font-size: 3.5rem;
					min-width: 50rem;
				}

				@include max-screen($xsmall) {
					min-width: 80vw;
					max-width: 80vw;
				}

				span {
					color: $tang;
					display: block;

					sup {
						font-size: 5rem;
						top: -0.5rem;
						left: -1rem;
					}
				}
			}

			.menifesto--img {
				padding-left: 10rem;

				@include max-screen($medium) {
					padding-left: 5rem;
				}

				@include max-screen($xsmall) {
					padding-top: 5rem;
				}

				img {
					max-width: 43.7rem;

					@include max-screen($medium) {
						max-width: 33.7rem;
					}
				}
			}
		}
	}

	.nav-bg-tang {
/* 
		.active-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: black;
			opacity: 0;
			z-index: 1;
		} */

		/* .active-overlay:after {
			content: '';
			top: 0;
			left: 0;
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.6) 100%);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.6) 100%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.6) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26000000', endColorstr='#99000000', GradientType=0);
		} */

		.shadow {
			box-shadow: 0px -50px 50px 0px #00000012;
		}
	}
	.sticky-container {
	 
		  
	}

	.sectors {
		background-color: $tang;
		padding: 10rem 0;

		@include max-screen($small) {
			padding: 8rem 0;
		}


		.sectors-title {
			font-family: 'Sharp Grotesk Medium 25';
			font-size: 10rem;
			color: $white;
			letter-spacing: -0.2rem;
			line-height: 9.5rem;
			padding: 5rem 0 15rem;

			@include min-screen($xxlarge) {
				max-width: 63rem;
			}

			@include max-screen($xsmall) {
				font-size: 10vw;
				line-height: 7rem;
				padding: 2rem 0 4.5rem;
			}

			sup {
				font-size: 2.5rem;
				top: -5.8rem;
				position: relative;

				@include max-screen($xsmall) {
					font-size: 3vw;
					top: -3.5rem;
				}
			}

			span {
				color: $purple;
				display: inline-block;
			}

			.text-white {
				color: $white;
			}
		}

		.sectors-box {
			margin-bottom: 10rem;

			.note {
				font-family: 'IBM Plex Sans';
				font-size: 1.7rem;
				color: $purple;
				margin-top: 10rem;
				max-width: 43.6rem;

				strong {
					font-weight: 600;
				}
			}

			&.top-offset {
				.sectors-box--title {
					margin-top: -1.5rem;
				}
			}

			.sectors-box--title {
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				color: $purple;
				font-size: 3rem;
				margin: 2.5rem 0;
			}

			.sectors-box--list {
				li {
					font-family: 'IBM Plex Sans';
					font-weight: normal;
					font-size: 1.7rem;
					letter-spacing: -0.1rem;
					color: $purple;
				}
			}
		}

		&.setores {
			background-color: #f5e8e4;

			.sectors-title {
				color: $tang;
			}

			.sectors-icons {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 2rem;
				margin-bottom: 14.2rem;

				@include max-screen($small) {
					margin-bottom: 3vh;
				}

				svg {
					max-width: 13rem;
				}

				img {
					max-width: 12rem;
				}

				p {
					font-family: 'IBM Plex Mono';
					font-weight: normal;
					font-size: 1.5rem;
					color: $purple;
					display: block;
					padding-top: 5rem;
				}
			}
		}
	}

	
	.main-footer {
		padding-top: 23rem;
		padding-bottom: 12rem;
		background: white;
		position: relative;
		@include max-screen($xsmall) {
			min-height: 100vh;
		}

		.footer-slogan {
			font-family: 'Sharp Grotesk SmBold 20';
			font-size: 11.2rem;
			color: $purple;
			letter-spacing: -0.5rem;
			line-height: 11.5rem;

			@include max-screen($xsmall) {
				font-size: 10rem;
				line-height: 8.8rem;
			}

			@include max-screen($xxsmall) {
				font-size: 8rem;
				line-height: 7rem;
			}

			.word-next {
				display: block;
				position: relative;
				margin-top: -0.5rem;

				@include max-screen($xsmall) {
					margin-top: 0;
				}

				img {
					max-width: 30rem;
					display: inline-block;
					position: absolute;
					margin-left: -4rem;
					margin-top: -1rem;
					z-index: 2;

					@include max-screen($xsmall) {
						max-width: 22rem;
						margin-left: -3rem;
						margin-top: -1rem;
					}

					@include max-screen($xxsmall) {
						max-width: 18rem;
						margin-left: -2.5rem;
					}
				}

				.word-t {
					position: relative;
					left: 14rem;

					@include max-screen($xsmall) {
						left: 10rem;
					}

					@include max-screen($xxsmall) {
						left: 8.5rem;
					}
				}
			}

			.word-future {
				line-height: 14rem;

				@include max-screen($xsmall) {
					line-height: 10rem;
				}

				@include max-screen($xxsmall) {
					line-height: 9rem;
				}
			}
		}

		address p {
			font-family: 'IBM Plex Mono';
			font-size: 1.2rem;
			line-height: 1.8rem;
			font-weight: 300;
			color: $purple;
			padding: 2rem 0 5.5rem;

			@include max-screen($small) {
				font-size: 1.8rem;
				line-height: 3rem;
			}

			@include max-screen($xsmall) {
				font-size: 2.5vw;
			}
		}

		.contact {
			padding: 5.5rem 0 6rem;

			a {
				font-family: 'Sharp Grotesk Medium 20';
				font-size: 5rem;
				color: $tang;
				letter-spacing: -0.2rem;

				@include max-screen($xsmall) {
					font-size: 6.5vw;
				}
			}
		}

		.social {
			a {
				font-family: 'Sharp Grotesk Medium 20';
				font-size: 3.4rem;
				line-height: 4rem;
				opacity: 0.5;
				color: $tang;
				letter-spacing: -0.2rem;
				transition: 0.2s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	
}

// Media Queries
@include screen($medium, $xxlarge, $orientation: false) {}

@include screen($xlarge, 2100px, $orientation: false) {
	// --- MacBook Pro 15'(.ie) ---
}

@include min-screen($medium) {}

@include screen(1024px, 1366px, $orientation: portrait) {
	// --- IPAD Pro ---
}

@include ipad($orientation: landscape) {}

@include ipad($orientation: portrait) {}

@include max-screen-height(820px) {}

@include max-screen($medium) {}

@include max-screen($small) {
	// --- iPad portrait ---
}

@include max-screen($xsmall) {
	// --- iPhone 6/6S/7 and plus versions portrait ---
}

@include max-screen($xxsmall) {
	// --- iPhone 4/4S/5/5S portrait ---
}